@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* Шрифты */
/* Название цвета можно меня, это для 1-го раза такое...*/
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd "em" font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent "sub" and "sup" elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ":invalid" styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out "fieldset" elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to "inherit" in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section__title {
  margin-top: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
    padding-right: 117px;
    padding-left: 117px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.subject {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section__title {
    min-width: 340px;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    width: 534px;
    font-size: 58px;
    line-height: 66px;
  }
}

.section__subtitle {
  margin-top: 0;
  margin-bottom: 17px;
  max-width: 232px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    max-width: 340px;
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .section__subtitle {
    max-width: 472px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 1279px) {
  .header-conteiner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-conteiner {
    padding-top: 37px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .navigatio {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .tablet-menu-button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-menu-button {
    margin-right: 30px;
  }
}

.logo {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 34px;
  }
}

.tablet-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  background-color: #e17992;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .menu-mobile {
    width: 254px;
  }
}

.menu-mobile.is-open {
  z-index: 5;
  display: block;
}

.link-mobile-menu {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  border: 1px solid #E18298;
  color: #ffffff;
}

.link-mobile-menu:hover, .link-mobile-menu:focus {
  color: #d41443;
}

.tablet-menu-button .icon-cros {
  display: none;
}

.tablet-menu-button.is-open .icon-cros {
  display: block;
}

.tablet-menu-button.is-open .icon-burger {
  display: none;
}

.icon-burger {
  fill: #d41443;
}

.section-made {
  background-color: #fff5f6;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 145px;
}

@media screen and (max-width: 767px) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .section-made {
    padding-top: 130px;
    padding-bottom: 310px;
  }
}

@media screen and (min-width: 1200px) {
  .section-made {
    padding-top: 125px;
    padding-bottom: 246px;
  }
}

.section-made .section__subtitle, .section-made .section-title {
  font-family: "Titan One";
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.section-made .section__subtitle {
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .section-made .section__subtitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .section-made .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-made .section-title {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .section-made .section-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .section-made .section-title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 55px;
  }
}

.information {
  text-align: left;
  padding-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .information {
    padding-bottom: 39px;
  }
}

@media screen and (min-width: 768px) {
  .information .txt-information {
    width: 50%;
    margin-left: 17px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .information .txt-information {
    margin-left: 74px;
  }
}

.information .description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-top: 46px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .information .description {
    font-size: 14px;
    line-height: 1.76;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 30px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .information .description {
    font-size: 16px;
    padding-right: 100px;
    margin-bottom: 35px;
  }
}

.information .description-txt {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  padding: 0px 30px;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .information .description-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    padding: 0px;
    margin-bottom: 62px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .information .description-txt {
    line-height: 1.94;
    padding-right: 100px;
    margin-bottom: 45px;
  }
}

.information .made-button {
  background: #ffffff;
  border-radius: 22px;
  margin-left: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
  padding: 0px 37px;
  height: 44px;
  cursor: pointer;
}

.information .made-button:focus, .information .made-button:hover {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .information .made-button {
    margin-left: 0px;
    font-size: 16px;
    line-height: 1.31;
  }
}

.information .mark {
  margin-left: 13px;
}

.made-list {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .made-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.made-list .item {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .made-list .item {
    width: 180px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .made-list .item {
    width: 330px;
    margin-right: 0;
  }
}

.made-list .item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .made-list .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .made-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.made-list .img-made {
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .made-list .img-made {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .made-list .img-made {
    margin-bottom: 40px;
  }
}

.made-list .item-number {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .made-list .item-number {
    display: block;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 768px) {
  .made-list .item-number {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.made-list .item-txt {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .made-list .item-txt {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1200px) {
  .made-list .item-txt {
    font-size: 16px;
    line-height: 1.76;
  }
}

.conteiner__footer {
  height: 410px;
  padding-bottom: 25px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .conteiner__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 336px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner__footer {
    height: 247px;
    padding-bottom: 10px;
  }
}

.footertitle {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .footertitle {
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1200px) {
  .footertitle {
    margin-bottom: 97px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
  }
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 152px;
  margin-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .social__icons {
    margin-bottom: 50px;
  }
}

.social__icons-item:not(:last-child) {
  margin-right: 28px;
}

.social__icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fea5bb;
}

.social__icons-link:hover, .social__icons-link:focus {
  background-color: #d41443;
}

.social__icon-svg {
  width: 19px;
  height: 19px;
  fill: #ffffff;
}

.tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 43px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.86;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .tell {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .tell {
    font-size: 16px;
  }
}

.tell__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .tell__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .tell__text {
    font-weight: 500;
    font-size: 16px;
  }
}

.footer__copirite {
  width: 100%;
}

.copirite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .copirite {
    line-height: 1.86;
    max-width: 276px;
  }
}

button button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */