@charset "UTF-8";
/* Шрифты */
/* Название цвета можно меня, это для 1-го раза такое...*/
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd "em" font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent "sub" and "sup" elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ":invalid" styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out "fieldset" elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to "inherit" in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section__title {
  margin-top: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 117px;
    padding-left: 117px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.section__title {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .section__title {
    min-width: 340px;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    width: 534px;
    font-size: 58px;
    line-height: 66px;
  }
}

.section__subtitle {
  margin-top: 0;
  margin-bottom: 17px;
  max-width: 232px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    max-width: 340px;
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .section__subtitle {
    max-width: 472px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 34px;
  }
}

.container-header-other {
  background-color: #ffb8ca;
  position: relative;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header-conteiner {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-conteiner {
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .header-conteiner {
    padding-left: 46px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .navigatio {
    display: none;
  }
}

.nav-list {
  display: flex;
}

.tablet-menu-button {
  z-index: 100;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .tablet-menu-button {
    padding-right: 15px;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .tablet-menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet-menu-button {
    margin-right: 30px;
  }
}

.tablet-menu-button.is-open {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 4px;
  padding-left: 4px;
}

.logo {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-top: 6px;
  }
}

.tablet-button {
  display: flex;
}

.menu-mobile {
  padding-top: 60px;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  background-color: #e17992;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .menu-mobile {
    width: 250px;
    height: 502px;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    width: 254px;
    height: 1020px;
  }
}

.menu-mobile.is-open {
  z-index: 55;
  display: block;
}

.link-mobile-menu {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  border: 1px solid #E18298;
  color: #ffffff;
}

.link-mobile-menu:hover, .link-mobile-menu:focus {
  color: #d41443;
}

@media screen and (min-width: 1280px) {
  .link-mobile-menu {
    border: none;
    font-size: 16px;
    line-height: 1.31;
    text-align: left;
    padding-left: 0;
  }
}

.tablet-menu-button .icon-cros {
  display: none;
}

.tablet-menu-button.is-open .icon-cros {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.tablet-menu-button.is-open .icon-burger {
  display: none;
}

.icon-burger {
  fill: #d41443;
}

.menu-icon-cros {
  width: 14px;
  height: 14px;
}

.menu-icon-burger {
  width: 20px;
  height: 12px;
}

.menu-button-mobile {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.hero {
  position: relative;
  display: block;
  background-color: #ffb8ca;
}

@media screen and (max-width: 767px) {
  .hero {
    overflow: hidden;
    padding-top: 137px;
    padding-bottom: 160px;
    padding-left: 20px;
    padding-right: 82px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 15px;
    padding-bottom: 28px;
    padding-left: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 84px;
    padding-bottom: 102px;
    padding-left: 115px;
  }
}

.hero p {
  margin: 0;
}

.hero-title {
  position: relative;
  display: block;
  max-width: 218px;
  margin: 0;
  margin-bottom: 19px;
  z-index: 50;
  font-family: "Titan One";
  font-weight: normal;
  font-size: 26px;
  line-height: 1.1538;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.136;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 277px;
    font-size: 38px;
    line-height: 1.158;
    margin-bottom: 25px;
  }
}

.hero-title-span {
  font-family: "Titan One";
  font-weight: normal;
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero-title-span {
    font-size: 34px;
    line-height: 0.905;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title-span {
    font-size: 58px;
  }
}

.hero-buttons {
  position: relative;
  display: flex;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .hero-buttons {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-buttons {
    margin-bottom: 112px;
  }
}

.hero-button-first {
  display: block;
  height: 24px;
  width: 62.4px;
  margin-right: 8px;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  .hero-button-first {
    height: 40px;
    width: 104px;
    margin-right: 15px;
  }
}

.hero-button-second {
  display: block;
  height: 24px;
  width: 82.8px;
  background-color: #fff;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  .hero-button-second {
    height: 40px;
    width: 138px;
  }
}

.hero-img {
  position: absolute;
  max-width: 171px;
  right: 32px;
  bottom: 0;
  z-index: 40;
}

@media screen and (min-width: 768px) {
  .hero-img {
    right: 247px;
    max-width: 143px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-img {
    right: 450px;
    max-width: 236px;
  }
}

.hero-bg-img {
  position: absolute;
  bottom: 75px;
  right: -62px;
  max-width: 346px;
  overflow: hidden;
  z-index: 30;
}

@media screen and (min-width: 768px) {
  .hero-bg-img {
    bottom: 46px;
    right: 137px;
    max-width: 324px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-bg-img {
    bottom: 46px;
    right: 267px;
    max-width: 538px;
  }
}

.hero-img-milk {
  display: none;
  position: absolute;
  left: 34px;
  bottom: 28px;
  max-width: 124px;
}

@media screen and (min-width: 768px) {
  .hero-img-milk {
    display: block;
  }
}

.hero-img-girl {
  display: none;
  position: absolute;
  right: 34px;
  bottom: 0;
  max-width: 168px;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  .hero-img-girl {
    display: block;
  }
}

.hero-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    padding-left: 120px;
    padding-right: 500px;
    margin: 0;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
  .hero-text > p {
    margin-bottom: 7px;
  }
}

.shop {
  position: absolute;
  display: none;
}

@media screen and (min-width: 768px) {
  .shop {
    display: block;
    top: 15px;
    right: 44px;
  }
}

.shop .item {
  position: relative;
}

.shop .item + .item {
  margin-top: 13px;
}

.shop-points {
  position: relative;
  display: block;
  z-index: 10;
  font-family: 'Titan One';
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 1200px) {
  .shop-points {
    font-size: 28px;
    line-height: 1.14;
  }
}

.shop-points-name {
  display: block;
  font-family: 'DM Sans';
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .shop-points-name {
    font-size: 14px;
    line-height: 1.286;
  }
}

.shop-points-name::before {
  position: absolute;
  top: -4px;
  right: 0;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

.products-section {
  display: block;
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products-section {
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.natural {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 142px;
}

@media screen and (min-width: 768px) {
  .natural {
    max-width: 217px;
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .natural {
    max-width: 249px;
    text-align: center;
  }
}

.product {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .product {
    margin-bottom: 150px;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .product {
    margin-bottom: 259px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    justify-content: space-between;
  }
}

.product-item {
  position: relative;
  display: inline-block;
  margin-bottom: 130px;
  padding-top: 160px;
  padding-bottom: 41px;
  text-align: center;
  max-width: 280px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .product-item {
    max-width: 220px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .product-item {
    max-width: 330px;
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.cream {
  background-color: #ffb8ca;
}

.coffee {
  background-color: #f0d1a5;
}

.milk {
  background-color: #c2e297;
}

.product-image {
  position: absolute;
  top: -23%;
  right: 5%;
}

@media screen and (min-width: 768px) {
  .product-image {
    right: 0;
    left: 0;
    top: -21%;
  }
}

@media screen and (min-width: 1280px) {
  .product-image {
    top: -42%;
  }
}

.product-name {
  margin-bottom: 30px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .product-name {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-ellipse {
  display: inline-block;
  margin-bottom: 30px;
}

.product-nokta {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}

.product-text {
  padding: 0 40px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-text {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1280px) {
  .product-text {
    padding: 0 45px;
    margin-bottom: 62px;
  }
}

.product-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.product-button:hover,
.product-button :focus {
  background: #ecebeb;
}

.product-icon {
  fill: #d41443;
}

.section-made {
  background-color: #fff5f6;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 145px;
}

@media screen and (max-width: 767px) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section-made {
    background-image: url(./../images/sectionbg-desktop@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .section-made {
    padding-top: 138px;
    padding-bottom: 238px;
  }
}

@media screen and (min-width: 1280px) {
  .section-made {
    padding-top: 125px;
    padding-bottom: 310px;
  }
}

.section-made .tittle {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.information {
  text-align: left;
  padding-bottom: 39px;
  padding-top: 26px;
}

@media screen and (min-width: 768px) {
  .information {
    display: flex;
    padding-bottom: 66px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .information {
    padding-bottom: 39px;
    padding-top: 55px;
  }
}

@media screen and (min-width: 768px) {
  .information .txt-information {
    width: 50%;
    margin-left: 17px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .information .txt-information {
    margin-left: 74px;
  }
}

.information .description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-top: 46px;
  padding-left: 30px;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .information .description {
    font-size: 14px;
    line-height: 1.76;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 30px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .information .description {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.information .description-txt {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  padding: 0px 30px;
  margin-bottom: 17px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .information .description-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    padding: 0px;
    margin-bottom: 62px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .information .description-txt {
    line-height: 1.94;
    padding-right: 30px;
    margin-bottom: 45px;
  }
}

.information .made-button {
  background: #ffffff;
  border-radius: 22px;
  margin-left: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
  padding: 0px 37px;
  height: 44px;
  cursor: pointer;
}

.information .made-button:focus, .information .made-button:hover {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .information .made-button {
    margin-left: 0px;
    font-size: 16px;
    line-height: 1.31;
  }
}

.information .mark {
  margin-left: 13px;
}

.made-list {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .made-list {
    display: flex;
  }
}

.made-list .item {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .made-list .item {
    width: 180px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .made-list .item {
    width: 330px;
    margin-right: 0;
  }
}

.made-list .item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .made-list .item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .made-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.made-list .img-made {
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .made-list .img-made {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .made-list .img-made {
    margin-bottom: 40px;
  }
}

.made-list .item-number {
  display: block;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .made-list .item-number {
    display: block;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .made-list .item-number {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.made-list .item-txt {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .made-list .item-txt {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .made-list .item-txt {
    font-size: 16px;
    line-height: 1.76;
  }
}

.section-address {
  padding-bottom: 113px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .section-address {
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 1280px) {
  .section-address {
    padding-bottom: 165px;
    background-image: url(../images/bg-loc.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .address-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.address-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  margin-bottom: -30px;
  transform: translate(0, -84px);
}

@media screen and (min-width: 400px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3px;
    transform: translate(0, -78px);
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .address-list {
    margin-bottom: -16px;
    transform: translate(0, -102px);
    font-size: 16px;
  }
}

.address-item {
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  max-width: 300px;
}

@media screen and (min-width: 768px) {
  .address-item {
    padding: 50px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .address-item {
    padding: 51px 44px 62px;
    max-width: 370px;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .address-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .address-item:not(:last-child) {
    margin-right: 30px;
  }
}

.address-title {
  font-weight: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .address-title {
    font-size: 16px;
    width: 73px;
    height: 28px;
  }
}

.address-item:nth-child(2) .address-title {
  background-color: #c2e297;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .address-item:nth-child(2) .address-title {
    width: 138px;
  }
}

.city,
.workday {
  letter-spacing: 0.04em;
  margin: 0;
}

.city {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .city {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .city {
    margin-bottom: 10px;
  }
}

.address-description {
  line-height: 1.5;
  color: #907e82;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .address-description {
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .address-description {
    line-height: 1.83;
  }
}

.time {
  color: #ffa5ba;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .time {
    line-height: 1.86;
  }
}

.address-contacts {
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .address-contacts {
    line-height: 1.83;
  }
}

.address-contacts .link:hover,
.address-contacts .link:focus {
  color: #d41443;
}

.workday-list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .workday-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .workday-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.address-description::after,
.workday-list::after {
  content: '';
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .address-description::after,
  .workday-list::after {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .address-description::after,
  .workday-list::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.address-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .address-button {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.section-slider {
  display: flex;
  justify-content: center;
  margin-top: -48px;
}

@media (min-width: 768px) {
  .section-slider {
    margin-top: -107px;
  }
}

@media (min-width: 1280px) {
  .section-slider {
    margin-top: -171px;
  }
}

.slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 170px;
}

@media (min-width: 768px) {
  .slider {
    padding-top: 121px;
    padding-bottom: 197 px;
  }
}

@media (min-width: 1280px) {
  .slider {
    padding-top: 123px;
    padding-bottom: 234px;
  }
}

.slider__box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 320px) {
  .slider__box {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .slider__box {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (min-width: 1280px) {
  .slider__box {
    width: 1280px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.slider__body {
  overflow: hidden;
}

.slider__item {
  display: inline-block;
}

@media (min-width: 320px) {
  .slider__item {
    max-width: 100vw;
  }
}

.slider__avatar {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 62px;
}

.slider__bg {
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, #fafafa 0%, #fafafa 74%, rgba(0, 0, 0, 0) 74%, rgba(0, 0, 0, 0) 100%);
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .slider__bg {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .slider__bg {
    width: 620px;
    background: linear-gradient(0deg, #fafafa 0%, #fafafa 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 15px;
  }
}

@media (min-width: 1280px) {
  .slider__bg {
    width: 929px;
  }
}

.slider__quote {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, #e1e1e1 1.56%, #fafafa 1.56%, #fafafa 50%, #e1e1e1 50%, #e1e1e1 51.56%, #fafafa 51.56%, #fafafa 100%);
  background-size: 64px 64px;
}

@media (min-width: 320px) {
  .slider__quote {
    width: 180px;
    height: 270px;
  }
}

@media (min-width: 768px) {
  .slider__quote {
    width: 524px;
    height: 106px;
  }
}

@media (min-width: 1280px) {
  .slider__quote {
    width: 822px;
    height: 74px;
  }
}

.slider__text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 2.47;
  text-align: center;
  letter-spacing: 0.03em;
}

.slider__text p {
  transform-style: preserve-3d;
}

.slider__text p::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 40px;
  top: -13px;
  left: 2px;
  background-image: url(../images/slider/quotes-mob-01.png);
  transform: translateZ(-1px);
}

@media (min-width: 768px) {
  .slider__text p::before {
    left: -32px;
  }
}

@media (min-width: 1280px) {
  .slider__text p::before {
    left: -39px;
  }
}

@media (max-width: 319px) {
  .slider__text {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 320px) {
  .slider__text {
    width: 180px;
    font-size: 13px;
    letter-spacing: 0.07em;
  }
}

@media (min-width: 768px) {
  .slider__text {
    width: 460px;
    font-size: 14px;
    line-height: 232%;
    letter-spacing: 0.04em;
  }
}

@media (min-width: 1280px) {
  .slider__text {
    width: 750px;
    line-height: 2.2;
    font-size: 16px;
  }
}

.slider__points {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

@media (min-width: 320px) {
  .slider__points {
    width: 290px;
  }
}

@media (min-width: 768px) {
  .slider__points {
    width: 620px;
  }
}

@media (min-width: 1280px) {
  .slider__points {
    width: 926px;
  }
}

.slider__points-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  color: #c7133e;
}

.slider__points-list-item {
  width: 4px;
  height: 4px;
  border: 1px solid #c7133e;
  background-color: #c7133e;
  border-radius: 50%;
}

.slider__points-list-item:not(:last-child) {
  margin-right: 10px;
}

.slider__adress {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

@media (min-width: 320px) {
  .slider__adress {
    width: 290px;
  }
}

@media (min-width: 768px) {
  .slider__adress {
    width: 620px;
  }
}

@media (min-width: 1280px) {
  .slider__adress {
    width: 926px;
  }
}

.slider__adress-text {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  font-weight: 500;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media (min-width: 320px) {
  .slider__adress-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .slider__adress-text {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1280px) {
  .slider__adress-text {
    font-size: 20px;
  }
}

.slider__adress-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.slider__adress-item {
  margin-left: 10px;
}

@media (max-width: 319px) {
  .slider__adress-item {
    margin-left: 0px;
  }
}

.slider__adress-item--round {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.slider__adress-item--img {
  width: 12px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0;
  color: transparent;
  background-color: #d9d9d9;
  outline: none;
}

.slick-dots li:first-child button {
  width: 13px;
  height: 12px;
  background-image: url(../images/home.svg);
  background-color: transparent;
  border-radius: 0;
  fill: #d9d9d9;
}

.slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d31342;
}

.footer__bg {
  background-color: #fff5f6;
}

.conteiner__footer {
  height: 410px;
  padding-bottom: 25px;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .conteiner__footer {
    display: flex;
    flex-wrap: wrap;
    height: 336px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner__footer {
    height: 247px;
    padding-bottom: 10px;
  }
}

.footertitle {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .footertitle {
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1200px) {
  .footertitle {
    margin-bottom: 97px;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    margin-left: auto;
  }
}

.social__icons {
  display: flex;
  justify-content: flex-end;
  min-width: 152px;
  margin-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .social__icons {
    margin-bottom: 50px;
  }
}

.social__icons-item:not(:last-child) {
  margin-right: 28px;
}

.social__icons-link {
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fea5bb;
}

.social__icons-link:hover, .social__icons-link:focus {
  background-color: #d41443;
}

.social__icon-svg {
  width: 19px;
  height: 19px;
  fill: #ffffff;
}

.tell {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 43px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.86;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .tell {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .tell {
    font-size: 16px;
  }
}

.tell__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .tell__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .tell__text {
    font-weight: 500;
    font-size: 16px;
  }
}

.footer__copirite {
  width: 100%;
}

.copirite {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .copirite {
    line-height: 1.86;
    max-width: 276px;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.menu-button-mobile {
  border-radius: 22px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: auto;
  -moz-outline-radius: 22px;
  outline-color: #c7133e;
}

.menu-button-mobile:focus {
  background-color: #ecebeb;
}

.menu-button-mobile:focus .menu-icon {
  fill: #ecebeb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button-mobile {
    height: 44px;
    width: 186px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-button-mobile {
    height: 44px;
    width: 209px;
  }
}

.menu-button-text {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0em;
  text-align: center;
  color: #c7133e;
  width: 91px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button-text {
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-button-text {
    margin-right: 14px;
  }
}

.menu-button-icon {
  height: 8px;
  width: 5px;
  fill: #ffffff;
  stroke: #c7133e;
}

.tablet-menu-button:focus .menu-icon-cros {
  fill: #ecebeb;
}

.hero-button-first {
  height: 24px;
  width: 62px;
  border-radius: 20px;
  background-color: #c7133e;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero-button-first {
    height: 40px;
    width: 104px;
    margin-right: 15px;
  }
}

.hero-button-first:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-button-first {
    height: 24px;
    width: 62px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-button-first {
    height: 24px;
    width: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button-first {
    height: 40px;
    width: 104px;
    font-size: 14px;
    line-height: 1.2857;
  }
}

.hero-button-second {
  height: 24px;
  width: 83px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #d41443;
  background: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero-button-second {
    height: 40px;
    width: 138px;
  }
}

.hero-button-second:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-button-second {
    height: 24px;
    width: 83px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-button-second {
    height: 24px;
    width: 83px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-button-second {
    height: 40px;
    width: 138px;
    font-size: 14px;
    line-height: 1.2857;
  }
}

.hero-right-svg {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  fill: #d41443;
  background-color: #ffffff;
}

.menu-button:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .menu-button {
    height: 44px;
    border-radius: 22px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: auto;
    outline-color: #c7133e;
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    width: 159px;
  }
}

.menu-text {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0em;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .menu-text {
    margin-right: 13px;
  }
}

.menu-icon {
  height: 8px;
  width: 4px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    margin-top: 3px;
  }
}
/*# sourceMappingURL=main.css.map */