$primary: #ffffff;
$text-color:#000000;
$background: #FFB8CA;
$background-2: #F0D1A5;
$background-3: #FFA5BA;
$background-4: #C2E297;
$background-5: #FFF5F6;
$background-6: #FAFAFA;
$background-7: #FFF5F6;
$accent-color: #D41443;
$title-color: #FFA5BA;
$text-color-2:#907E82;

// font-family: 'DM Sans', sans-serif;
// font-family: 'Titan One', cursive;
/* Название цвета можно меня, это для 1-го раза такое...*/