<footer>
    <div class="conteiner">
       <div class="conteiner__footer">
           <h2>
            homemade ice cream made
            with passion
           </h2>
           <ul class="social__icon">
               <li class="social__icons-item">
                   <a  class="social__icons-link" href="https://github.com/" target="_blank" rel="noopener noreferer"
                      aria-label="github">
                    </a>
               </li>
               <li class="social__icons-item">
                   <a  class="social__icons-link" href="https://web.telegram.org/" target="_blank" rel="noopener noreferer"
                      aria-label="telegram">
                    </a>
               </li>
               <li class="social__icons-item">
                   <a  class="social__icons-link" href="https://facebook.com/" target="_blank" rel="noopener noreferer"
                      aria-label="facebook">
                    </a>
               </li>
           </ul>
       </div> 
    </div>
</footer>