<footer>
    <div class="conteiner">
       <div class="conteiner__footer">

           <h2>
            homemade ice cream made
            with passion
           </h2>

           <div class="contact">
            <ul class="list social__icon">
                <li class="social__icons-item">
                    <a class="social__icons-link" href="https://github.com/" target="_blank" rel="noopener noreferer"
                        aria-label="github">
                        <svg class="social__icon-svg">
                            <use href="./images/git.svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icons-item">
                    <a class="social__icons-link" href="https://web.telegram.org/" target="_blank" rel="noopener noreferer"
                        aria-label="telegram">
                        <svg class="social__icon-svg">
                            <use href="./images/telegram.svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icons-item">
                    <a class="social__icons-link" href="https://facebook.com/" target="_blank" rel="noopener noreferer"
                        aria-label="facebook">
                        <svg class="social__icon-svg">
                            <use href="./images/facebook.svg"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            
            
            <div class="tell">
                <a href="tel:+610383766284" class="link link__tell">
                    <span class="tell__text">Feel free to contact</span>+61 (0) 383 766 284</a>
            </div>

           </div>

           

           <div>
               <span>
                © 2019 - IceCream. All Rights Reserved.
               </span>
           </div>
       </div> 
    </div>
</footer>