<header>
    <!-- LOGO -->
    <nav>
        <a href="./index.html">
        <img src="./images/logo-header-min.jpg" alt="Логотип">
    </a>
    <!-- Navigation -->
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">How it’s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Contact</a></li>
        </ul>

        <button type="button">Buy now</button>
    <!-- Tablet-menu-button -->

        <div class="tablet-menu-button">
            <button type="button">
                <!-- <svg class="icon-menu-tablet" wight="20px" hight="12px">
                    <use class="icon-menu-open" href=""></use>
                    <use class="icon-menu-cros" href=""></use>
                </svg> -->
            </button>
        </div>
        <!-- Menu-tablet-run-->

        <button type="button">Buy now</button>
        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">How it’s made?</a></li>
                <li><a href="">Our products</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    
    </nav>
    <div></div>
</header>