
	<header class=" container-header-other">
		<div class="container header-conteiner">
			<a href="./index.html" class="logo link">
				<picture>
					<source srcset="
				./images/logo/logo.webp 	1x, 
				./images/logo/logo@2x.webp  2x, 
				./images/logo/logo@3x.webp  3x
				" type="image/webp">
					<img class="logo__img" srcset="
				./images/logo/logo.png 	1x, 
				./images/logo/logo@2x.png  2x, 
				./images/logo/logo@3x.png  3x
				" src="./images/logo/logo.png" alt="logo" width="199" height="50">
				</picture>
			</a>


			<nav class="navigatio">
				<ul class="nav-list list">
					<li class="list nav-item">
						<a class="link link-mobile-menu" href="./index.html">Home</a>
					</li>
					<li class="list nav-item">
						<a class="link link-mobile-menu" href="#about">About us</a>
					</li>
					<li class="list nav-item">
						<a class="link link-mobile-menu" href="#how-made">How it's made?</a>
					</li>
					<li class="list nav-item">
						<a class="link link-mobile-menu" href="#our-products">Our products</a>
					</li>
					<li class="list nav-item">
						<a class="link link-mobile-menu" href="#contact">Contact</a>
					</li>
				</ul>
			</nav>
			<div class="tablet-button">
			<button type="button" class=" tablet-menu-button" data-menu-button>
				<svg class="menu-icon-burger" >
					<use class="icon-burger" href="./images/sprite.svg#icon-burger"></use>
					<!-- <use class="icon-cros" href="./images/sprite.svg#icon-close"></use>
				 -->
				</svg>
				<svg class="menu-icon-cros">
					<!-- <use class="icon-burger" href="./images/sprite.svg#icon-burger"></use> -->
					<use class="icon-cros" href="./images/sprite.svg#icon-close"></use>
				
				</svg>
			
			</button>
		
			<button class="menu-button" type="button">
				<span class="menu-text">Buy now</span>
				<svg class="menu-icon" width="20" height="30">
					<use href="./images/sprite.svg#icon-btnuse"></use>
				</svg>
			</button>
			</div>

		</div>
	
	
	<!-- Menu-tablet-run-->
	<div class="menu-mobile animate__animated animate__fadeInRight" data-menu>
		
	<button class="menu-button-mobile" type="button">
		<span class="menu-button-text">Buy now</span>
		<svg class="menu-button-icon" width="20" height="30">
			<use href="./images/sprite.svg#icon-btnuse"></use>
		</svg>
	</button>
	<div>
		<ul class="nav_list list">
			<li class="list nav_item">
				<a class="link link-mobile-menu" href="./index.html">Home</a>
			</li>
			<li class="list nav_item">
				<a class="link link-mobile-menu" href="#">About us</a>
			</li>
			<li class="list nav_item">
				<a class="link link-mobile-menu" href="#">How it's made?</a>
			</li>
			<li class="list nav_item">
				<a class="link link-mobile-menu" href="#">Our products</a>
			</li>
			<li class="list nav_item">
				<a class="link link-mobile-menu" href="#">Contact</a>
			</li>
		</ul>
	</div>
	</div>
	</header>