
<section class="hero-container">
    <div class="hero"><h1 class="hero-title">ice cream made with

        <span class="hero-title-span">passion</span></h1>
    <ul class="hero-buttons list">
        <!-- <li class="hero-button-first animated">Products</li>
        <li class="hero-button-second animated">How it’s made?</li> -->
        <li class="hero-button-first animated">
            <a class="link" href="#products">Products</a></li>
        <li class="hero-button-second animated">
            <a class="link" href="#how-made">How it’s made?</a></li>
    </ul>
    <img class="hero-img-milk" src="./images/slider-pic2-dest.png" alt="milk">

    <div class="hero-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="hero-info-button animated">
            <svg class="hero-info-icon">
                <use class="pruduct-arrow" href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    <ul class="shop list">
        <li class="item"><span class="shop-points">16</span>
            <span class="shop-points-name">cafes</span></li>
        <li class="item"><span class="shop-points">23</span>
            <span class="shop-points-name">food trucks</span></li>
    </ul>
    <img class="hero-img" src="./images/hero/slider-pic-dest.png" alt="icecream">
    <img class="hero-bg-img" src="/images/hero/Ellipse-dest.png" alt="circle" />
    <img class="hero-img-girl" src="./images/hero/slider-pic4-dest.png" alt="girl">
    </div>

</section>
