
<section>
    <div class="container">
        <p>100% Natural</p>
        <h2>Products</h2>
        <ul class="product-list list">
            <li class="product-item">
                <img src="" alt="" class="product-image">
                <h3 class="product-name">Ice cream</h3>
                            <div class="product-ellipse">
                                <span class="product-nokta"></span>
                                <span class="product-nokta"></span>
                                <span class="product-nokta"></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <svg class="product-icon" width="20" height="12">
                                <use class="pruduct-arrow" href="./images/sprite.svg#icon-arrow-right"></use>                           
                            </svg>
            </li>

            <li class="product-item">
                <img src="" alt="" class="product-image">
                <h3 class="product-name">Ice cffee</h3>
                            <div class="product-ellipse">
                                <span class="product-nokta"></span>
                                <span class="product-nokta"></span>
                                <span class="product-nokta"></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                                aliqua facilisis.</p>
                            <svg class="product-icon" width="20" height="12">
                                <use class="pruduct-arrow" href="./images/sprite.svg#icon-arrow-right"></use>
                            
                            </svg>
            </li>

            <li class="product-item">
               <img src="" alt="" class="product-image">
               <h3 class="product-name">Milkshakes</h3>
               <div class="product-ellipse">
                   <span class="product-nokta"></span>
                   <span class="product-nokta"></span>
                   <span class="product-nokta"></span>
               </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                    <svg class="product-icon" width="20" height="12">
                        <use class="pruduct-arrow" href="./images/sprite.svg#icon-arrow-right"></use>                           
                    </svg>
            </li>
        </ul>
    </div>
</section>
