<section id="how-made" class="section-made">
    <div class="container">
        <h3 class="section__subtitle tittle">tradition and love</h3>
        <h2 class="section__title tittle">how it’s made?</h2>
       <div class="information">
           <picture>
        <source srcset="./images/cow-mobile.webp 320w,
                         ./images/cow-tablet.webp 768w,
                         ./images/cow-desktop.webp 1200w" type="image/webp" />
        <img class="img" srcset="./images/cow-mobile.png 320w,
                         ./images/cow-tablet.png 768w,
                         ./images/cow-desktop.png 1200w"
                         
                         src="./images/cow-mobile.png" alt="milc and cow">
    </picture>
    <div class="txt-information">
        <p class="description">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="description-txt">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, <br> tincidunt. <br>
        Aliquam erat volutpat. Aenean accumsan.
    </p>
    <button class="made-button">Read more <span class="mark">&gt</span></button>
</div>
    
   </div>
       
       <ul class="made-list list">
           <li class="item">
            <picture>
                <source srcset="./images/milk.webp 1x,
                                 ./images/milk@2x.webp 2x" type="image/webp" />
                <img class="img-made"
                srcset="./images/milk.png 1x,
                        ./images/milk@2x.png 2x" 
                                 src="./images/milk.png" 
                                 alt="icon-milk">
            </picture>
            <span class="item-number">721</span>
            <p class="item-txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
           </li>
           <li class="item">
            <picture>
                <source srcset="./images/apples-mobile.webp 1x,
                                ./images/apples-mobile@2x.webp 2x" 
                                 type="image/webp" />
                <img class="img-made" 
                srcset="./images/apples-mobile.png 1x,
                        ./images/apples-mobile@2x.png 2x" 
                        src="./images/apples-mobile.png" 
                        alt="icon-cherry">
            </picture>
            <span class="item-number">16kg</span>
            <p class="item-txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
           </li>
           <li class="item">
            <picture>
                <source srcset="./images/heart-mobile.webp 1x,
                                ./images/heart-mobile@2x.webp 2x" 
                                type="image/webp" />
                <img class="img-made" 
                srcset="./images/heart-mobile.png 1x,
                        ./images/heart-mobile@2x.png 2x" 
                        src="./images/heart-mobile.png" 
                        alt="icon-heart">
            </picture>
            <span class="item-number">84</span>
            <p class="item-txt">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
           </li>
       </ul>
       
    </div>
</section>