<section>
	<div class="section-slider">
		<picture>
			<source srcset="
          ./images/kollage/kollage-desk.png    1x,
          ./images/kollage/kollage-desk@2x.png 2x
        " media="(min-width: 1200px)" />
			<source srcset="
          ./images/kollage/kollage-tab.png    1x,
          ./images/kollage/kollage-tab@2x.png 2x
        " media="(min-width: 768px)" />
			<source srcset="
          ./images/kollage/kollage-mob.png    1x,
          ./images/kollage/kollage-mob@2x.png 2x
        " media="(max-width: 480px)" />
			<img src="./images/kollage/kollage-desk.png" alt="колаж картинок с мороженным" />
		</picture>
	</div>
</section>
<section class="slider">
	<div class="container">
		<div class="slider__body">
			<div class="slider__item">
				<div class="slider__bg">
					<img class="slider__avatar" src="" alt="" />
					<div class="slider__quote">
						<div class="slider__text">
							<p>
								Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
								Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
								Lorem ipsum primis in nibh vel risus.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__item">
				<div class="slider__bg">
					<img class="slider__avatar" src="" alt="" />
					<div class="slider__quote">
						<div class="slider__text">
							<p>
								Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
								Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
								Lorem ipsum primis in nibh vel risus.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__item">
				<div class="slider__bg">
					<img class="slider__avatar" src="" alt="" />
					<div class="slider__quote">
						<div class="slider__text">
							<p>
								Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
								Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
								Lorem ipsum primis in nibh vel risus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider__points">
			<ul class="slider__points-list">
				<li class="slider__points-list-item"></li>
				<li class="slider__points-list-item"></li>
				<li class="slider__points-list-item"></li>
			</ul>
		</div>
		<div class="slider__adress">
			<p class="slider__adress-text">Emily, Los Angeles</p>
			<p class="slider__adress-text">Angela, Kyiv</p>
			<p class="slider__adress-text">Olga, Odessa</p>
		</div>
	</div>
</section>