<section>
  <div class="big-img">
    <picture>
      <source
        srcset="
          ./images/slider/desktop/kollage-img-desk.png    1x,
          ./images/slider/desktop/kollage-img-desk@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/slider/tablet/kollage-img-tab.png    1x,
          ./images/slider/tablet/kollage-img-tab@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/slider/mobile/kollage-img-mob.png    1x,
          ./images/slider/mobile/kollage-img-mob@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/slider/kollage-desk.png"
        alt="колаж картинок с мороженным"
      />
    </picture>
  </div>
</section>
<section class="slider">
  <div class="container">
    <div class="slider__body">
      <div class="slider__item">
        <div class="slider__bg">
          <img
            class="slider__avatar"
            src="./images/slider/desktop/pictures-01.png"
            alt=""
            table
          />
          <div class="slider__quote">
            <div class="slider__text">
              <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__bg">
          <img
            class="slider__avatar"
            src="./images/slider/desktop/pictures-02.png"
            alt=""
          />
          <div class="slider__quote">
            <div class="slider__text">
              <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__bg">
          <img
            class="slider__avatar"
            src="./images/slider/desktop/pictures-03.png"
            alt=""
          />
          <div class="slider__quote">
            <div class="slider__text">
              <p>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__points">
      <ul class="slider__points-list">
        <li class="slider__points-list-item"></li>
        <li class="slider__points-list-item"></li>
        <li class="slider__points-list-item"></li>
      </ul>
    </div>
    <div class="slider__adress">
      <p class="slider__adress-text">Emily, Los Angeles</p>
      <p class="slider__adress-text">Angela, Kyiv</p>
      <p class="slider__adress-text">Olga, Odessa</p>
    </div>
  </div>
</section>

