button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.menu-button-mobile {
  border-radius: 22px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-white;
  padding: auto;
  -moz-outline-radius: 22px;
  outline-color: $use-accent-color;
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
  &:focus,
  &:hover {
    fill: #ecebeb;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 44px;
    width: 209px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 44px;
    width: 186px;
  }
  // @media screen and (min-width: 1280px) {
  //   height: 44px;
  //   width: 209px;
  // }
}
.menu-button-text {
  font-family: $fonts-main-page;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0em;
  text-align: center;
  color: $use-accent-color;
  width: 91px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-right: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 14px;
  }
}
// .menu-icon-burger {
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     position: absolute;
//     top: 25px;
//     right: 0px;
//   }
// }
.menu-button-icon {
  height: 8px;
  width: 5px;

  fill: $primary-white;
  stroke: $use-accent-color;
}
// .menu-icon-cros {
//   margin-right: 28px;
//   margin-top: 3px;
// }
.tablet-menu-button:focus .menu-icon-cros {
  fill: #ecebeb;
}
.hero-button-first {
  height: 24px;
  width: 62px;
  border-radius: 20px;
  background-color: $use-accent-color;
  font-family: $fonts-main-page;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $primary-white;
  cursor: pointer;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    height: 24px;
    width: 62px;
    margin-right: 8px;
  }
  @media screen and (min-width: 1280px) {
    height: 40px;
    width: 104px;
    font-size: 14px;
    line-height: 1.2857;
    margin-right: 15px;
  }
}

// .hero-button-first:hover,
// .hero-button-first:focus {
//   background-color: #ecebeb;
// }

.hero-button-second {
  height: 24px;
  width: 83px;
  border-radius: 20px;
  font-family: $fonts-main-page;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $accent-color;
  background: $primary-white;

  @media screen and (min-width: 1200px) {
    height: 40px;
    width: 138px;
  }

  cursor: pointer;
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 24px;
      width: 83px;
    }

    height: 24px;
    width: 83px;
  }
  @media screen and (min-width: 1280px) {
    height: 40px;
    width: 138px;
    font-size: 14px;
    line-height: 1.2857;
  }
}
.hero-right-svg {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  fill: $accent-color;
  background-color: $primary-white;
}

.menu-button {
  z-index: 54;

  @media screen and (min-width: 768px) {
    height: 44px;
    border-radius: 22px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-white;
    padding: auto;
    outline-color: $use-accent-color;
    width: 160px;
  }
  @media screen and (min-width: 1280px) {
    width: 159px;
  }
}
.menu-button:focus,
.menu-button:hover {
  background-color: #ecebeb;
}
.menu-text {
  font-family: $fonts-main-page;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125;
  letter-spacing: 0em;
  text-align: center;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    margin-right: 13px;
  }
}
.menu-icon {
  height: 8px;
  width: 4px;
  fill: $primary-white;
  @media screen and (min-width: 768px) {
    margin-top: 3px;
  }
}

// .product-icon {
//   display: block;
//   background-color: $primary-white;
//   height: 40px;
//   width: 40px;
//   border-radius: 20px;
// }
.pruduct-arrow {
  display: block;
  height: 11px;
  width: 11px;
  fill: $use-accent-color;
}
// .button-ol,
// .button-fr {
//   height: 44px;
//   width: 161px;
//   border-radius: 22px;

//   font-family: $fonts-main-page;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: 1.3125;
//   letter-spacing: 0em;
//   text-align: center;
//   outline-color: $accent-color;
// }
// .button-ol .address-button-icon {
//   fill: $accent-color;
//   stroke: white;
// }
// .button-fr .address-button-icon {
//   fill: $primary-white;
// }
// .button-ol {
//   // background-color: $primary-white;
//   background-color: $accent-color;
//   color: $primary-white;
// }
// .button-fr {
//   background-color: $primary-white;
//   color: $accent-color;
//   margin-top: 10px;
// }

.address-button .button {
  width: 161px;
  height: 44px;
  background-color: $primary-white;
  color: $accent-color;
  outline-color: $accent-color;
  font-weight: 700;
  line-height: 1.3;
  border-radius: 22px;
  border: 1px solid transparent;

  @media screen and (min-width: 768px) {
    &:first-child {
      width: 191px;
    }
    &:last-child {
      width: 174px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:first-child {
      width: 198px;
    }
    &:last-child {
      width: 180px;
    }
  }
}

.address-button .button:first-child {
  margin-bottom: 10px;
  background-color: $accent-color;
  color: $primary-white;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 15px;
    width: 190px;
  }

  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.button:last-child {
  background-color: $primary-white;
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}
.address-button-icon {
  margin-left: 13px;
}
.button:last-child .address-button-icon {
  fill: $primary-white;
}
.button:first-child .address-button-icon {
  fill: $accent-color;
  --color1: #ffffff;
}
.button:last-child:hover .address-button-icon {
  fill: #ecebeb;
}
.button:last-child:focus .address-button-icon {
  fill: #ecebeb;
}
// .button:hover,
// .button:focus .address-button-icon:last-child {
//   fill: #ecebeb;
// }

// .button:not(:last-child) .address-button-icon {
//   color: #ffffff;
//   margin-left: 8px;

//   @media screen and (min-width: 768px) {
//     margin-left: 13px;
//   }
