button {
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
}
// .menu-cloak__button {
//   height: 44px;
//   width: 209px;
//   border-radius: 22px;
//   border-color: $primary-white;
// }
