.section-made {
  background-color: $background-color-nature;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 145px;
  background-image: url(./../images/sectionbg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px auto;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(./../images/sectionbg-mobile@2x.png);
  }

  %titles {
    font-family: $fonts-title;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
  }

  .section__subtitle {
    @extend %titles;
    font-size: 18px;
    line-height: 1.17;
    color: $title-color-pink;
    margin-bottom: 15px;
  }

  .section-title {
    @extend %titles;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $accent-color;
    margin-bottom: 26px;
  }
}

.information {
  text-align: left;
  padding-bottom: 39px;

  .description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-top: 46px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 27px;
  }

  .description-txt {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $text-color-grey;
    padding: 0px 30px;
    margin-bottom: 27px;
  }

  .made-button {
    background: $primary-white;
    border-radius: 22px;
    margin-left: 30px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: $accent-color;
    padding: 0px 37px;
    height: 44px;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: #ecebeb;
    }
  }

  .mark {
    margin-left: 13px;
  }
}

.made-list {
  text-align: left;

  .item {
    margin-right: 50px;
  }

  .item:not(:last-child) {
    margin-bottom: 38px;
  }

  .img-made {
    display: block;
    margin-bottom: 16px;
  }

  .item-number {
    font-family: $fonts-title;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
  }

  .item-txt {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
  }
}
