.section-slider {
  display: flex;
  justify-content: center;
  margin-top: -48px;

  @include for-size(tablet) {
    margin-top: -107px;
  }

  @include for-size(desktop) {
    margin-top: -171px;
  }
}